.header {
  position: fixed;
  background-color: hsl(0, 0%, 0%);
  backdrop-filter: blur(4px);
  z-index: 100;
}

.gf {
  background: url(../img/GentseFeesten.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.dn {
  background: url(../img/DeNoodcentrale.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.pgm {
  background: url(../img/PGM-Platform.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.home {
  padding-top: 200px;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(4px);
  height: 100vh;
}

.two__items {
  padding-bottom: 100px;
}

.two__items--image {
  display: block;
}

.column__left {
  width: 65%;
}