.header {
  position: fixed;
  background-color: hsl(0, 0%, 0%);
  backdrop-filter: blur(4px);
  z-index: 100;
}

.gf {
  background: url(../img/GentseFeesten.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.dn {
  background: url(../img/DeNoodcentrale.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.pgm {
  background: url(../img/PGM-Platform.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.home {
  padding-top: 200px;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(4px);
  height: 100vh;
}

.two__items {
  padding-bottom: 100px;
}

.two__items--image {
  display: block;
}

.column__left {
  width: 65%;
}

.mid-arrow {
  position: absolute;
  left: calc(50% - 75px/2);
  bottom: 4%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--blue--trans);
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
}

.mid-arrow img {
  filter: invert(100%);
  transform: scale(0.7);
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}